# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
db
__pycache__
/.idea
/venv
/bin/v2ctl
/bin/v2ray
/bin/config.json
/scrap
/log/access.log
/log/error.log