<% extend('layout') %>

    <style>

        #app {
            padding-top: 100px;
        }

        h1 {
            text-align: center;
            color: #fff;
            margin: 20px 0 50px 0;
        }

        .ant-btn, .ant-input {
            height: 50px;
            border-radius: 30px;
        }

        .ant-input-affix-wrapper .ant-input-prefix {
            left: 23px;
        }

        .ant-input-affix-wrapper .ant-input:not(:first-child) {
            padding-left: 50px;
        }

        @media only screen and (max-width: 600px) {
            #reg-btn {
                margin-top: 15px;
            }
        }
    </style>

    <a-layout id="app" v-cloak>
        <transition name="list" appear>
            <a-layout-content>
                <a-row type="flex" justify="center">
                    <a-col :xs="22" :sm="20" :md="16" :lg="12" :xl="8">
                        <h1>Login</h1>
                    </a-col>
                </a-row>
                <a-row type="flex" justify="center">
                    <a-col :xs="22" :sm="20" :md="16" :lg="12" :xl="8">
                        <a-form>
                            <a-form-item>
                                <a-input v-model.trim="user.username" placeholder="username or email"
                                         @keydown.enter.native="submit(false)" autofocus>
                                    <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)"/>
                                </a-input>
                            </a-form-item>
                            <a-form-item>
                                <a-input type="password" v-model.trim="user.password"
                                        placeholder="password" @keydown.enter.native="submit(false)">
                                    <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)"/>
                                </a-input>
                            </a-form-item>
                            <a-form-item>
                                <a-row>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        <a-button block @click="submit(false)" :loading="loading">login</a-button>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12" id="reg-btn">
                                        <a-button block @click="submit(true)" :loading="loading2" type="primary">Register</a-button>
                                    </a-col>
                                </a-row>
                            </a-form-item>
                            <p><a href="#" style="color: antiquewhite;"> Forgot password ? </a></p>
                        </a-form>
                    </a-col>
                </a-row>
            </a-layout-content>
        </transition>
    </a-layout>

    <script>
        let leftColor = randomIntRange(0x222222, 0xFFFFFF / 2).toString(16);
        let rightColor = randomIntRange(0xFFFFFF / 2, 0xDDDDDD).toString(16);
        let deg = randomIntRange(0, 360);
        let background = 'linear-gradient(' + deg + 'deg, #' + leftColor + ' 10%, #' + rightColor + ' 100%)';
        document.querySelector('#app').style.background = background;
        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                loading: false,
                loading2: false,
                user: { username: '', password: ''},
            },
            methods: {
                submit(isRegister) {
                    this.loading = true;
                    post({
                        url: isRegister ? '/register' : '/login',
                        data: this.user,
                        success: data => {
                            this.loading = false;
                            if (data.success && !isRegister) {
                                location.href = '/';
                            }
                        },
                        error: () => this.loading = false
                    });
                }
            }
        });
    </script>