<% extend('layout') %>
    <style>
        .ant-divider-horizontal {
            margin: 12px 0;
        }

        .ant-card:last-of-type {
            margin-bottom: 20px;
        }
    </style>

    <a-layout id="app" v-cloak>
        <%- include('sidebar') -%>
        <a-layout id="content-layout">
            <a-layout-content class="ant-layout-content-pages">
                <a-spin :spinning="spinning" :delay="500" tip="loading">
                    <transition name="list" appear>
                        <a-card hoverable >
                            <div slot="title">
                                <a-button type="primary" icon="plus" @click="openRule()"></a-button>
                                <a-input v-model="searchKey" style="float: right; width: 200px;" placeholder="search" autofocus></a-input>
                            </div>
                            <a-list
                            class="demo-loadmore-list"
                                :loading="loading"
                                item-layout="horizontal"
                                :data-source="searchedData"
                                style="max-height: 500px; overflow-y: scroll;"
                            >
                            <a-list-item slot="renderItem" slot-scope="item, index">
                                <a-switch slot="actions" v-model="item.enable" @change="enableRule(index, item.enable)"></a-switch>
                                <a slot="actions" @click="openRule(item, index)">edit</a>
                                <a-popconfirm v-if="!item.default" slot="actions" title="Are you sure?"
                                    @confirm="deleteRule(index)"
                                    ok-text="confirm" cancel-text="cancel">
                                    <a>delete</a>
                                </a-popconfirm>
                                <a-list-item-meta>
                                    <div slot="description" v-for="field in item.fields" :key="field.key">
                                        <div>[[ field.key ]]: [[ formatArray(field.value) ]]</div>
                                    </div>
                                    <a slot="title">[[ item.remark ]]</a>
                                </a-list-item-meta>
                            </a-list-item>
                          </a-list>
                        </a-card>
                    </transition>
                </a-spin>
            </a-layout-content>
        </a-layout>
    </a-layout>

    <script>

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                spinning: false,
                rules: [],
                searchedData: [],
                loading: true,
                searchKey: ''
            },
            methods: {
                formatArray(arr) {
                    return typeof arr === 'object' ? arr.join(';') : arr;
                },
                getRules() {
                    get({
                        url: '/v2ray/routing/rules',
                        success: data => {
                            this.rules = data;
                            this.loading = false;
                            this.searchInbounds();
                        }
                    });
                },
                enableRule(position, enable){
                    let data = { enable: enable };
                    this.submit('/v2ray/routing/update/' + position, data);
                }, 
                deleteRule(position){
                    this.submit('/v2ray/routing/del/' + position); 
                },
                openRule(rule = {}, position) {
                    rulesModal.show({
                        title: rule.remark ? 'update rule' : 'add rule',
                        okText: rule.remark ? 'save' : 'add',
                        rule,
                        confirm: () => {
                            rulesModal.loading();
                            rulesModal.rule.fields = (rulesModal.rule.fields || []).map((f) => {
                                if(typeof f.value !== 'object') {
                                    if(f.value.startsWith('>') || f.value.includes(';')) {
                                        f.dataType = 'object';
                                    }
                                }
                                if(f.dataType == 'object') {
                                    if(typeof f.value !== f.dataType) {
                                        f.value = f.value.replace(/>/, "")
                                        .replace(/\,/g, ";")
                                        .split(';');
                                    }
                                }
                                return f;
                            }).filter((k) => k.value && k.key);
                            
                            let data = {
                                remark: rulesModal.rule.remark,
                                enable: rulesModal.rule.enable,
                                fields: JSON.stringify(rulesModal.rule.fields)
                            }
                            
                            this.submit('/v2ray/routing/' + (position >=0 ? 'update': 'add') + (position >=0 ? '/' + position : ''), 
                                data, rulesModal, 
                                () => rulesModal.closeLoading(), 
                                () => rulesModal.closeLoading()
                            );
                        }
                    });
                },
                submit(url, data, modal, success, error) {
                    post({
                        url: url,
                        data: data,
                        success: data => {
                            if (data.success) {
                                if (modal) {
                                    modal.close();
                                }
                                this.loading = true;
                                this.getRules();
                            }
                            execute(success, data);
                        },
                        error: error,
                    });
                },
                searchInbounds(key) {
                    if (isEmpty(key)) {
                        this.searchedData = this.rules.slice();
                    } else {
                        this.searchedData.splice(0, this.searchedData.length);
                        this.rules.forEach(item => {
                            let regex = new RegExp(`${key}`, "gi");
                            try {
                                const found = item.remark.match(regex) 
                                || item.tagValue.match(regex)
                                || item.value.match(regex);
                                if (found) {
                                    this.searchedData.push(item);
                                }
                            } catch(e) {}
                        });
                    }
                },
            },
            watch: {
                searchKey(value) {
                    this.searchInbounds(value);
                }
            },
            mounted() {
                this.getRules();
            },
        });

    </script>
<%- include('custom_route_modal') -%>