<% extend('layout') %>
    <style>
        .ant-divider-horizontal {
            margin: 12px 0;
        }

        .ant-card:last-of-type {
            margin-bottom: 20px;
        }
    </style>


    <a-layout id="app" v-cloak>
        <%- include('sidebar') -%>
        <a-layout id="content-layout">
            <a-layout-content class="ant-layout-content-pages">
                <a-spin :spinning="spinning" :delay="500" tip="loading">
                    <transition name="list" appear>
                        <a-card hoverable >
                            <div slot="title">
                                <a-button type="primary" icon="plus" @click="openRule()"></a-button>
                            </div>
                            <div v-for="rule in rules" :key="rule.id">
                                <div>
                                    <a-switch v-model="rule.enable"></a-switch>
                                    <a>[[ rule.remark ]]</a>
                                </div>
                                <a-divider></a-divider>
                            </div>
                        </a-card>
                    </transition>
                </a-spin>
                <a-card v-if="rules.length === 0">
                    No rules
                </a-card>
            </a-layout-content>
        </a-layout>
    </a-layout>

    <script>

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                spinning: false,
                rules: []
            },
            methods: {
                getRules() {
                    get({
                        url: '/v2ray/routing/rules',
                        success: data => {
                            this.rules = data;
                        }
                    });
                },
                openRule(rule = {}) {
                    rulesModal.show({
                        title: rule.type ? 'update rule' : 'add rule',
                        okText: rule.type ? 'save' : 'add',
                        rule,
                        confirm: () => {
                            rulesModal.loading();
                            this.submit('/v2ray/routing/' + (rule.type ? 'update': 'add'), 
                                rulesModal.rule, rulesModal, 
                                () => rulesModal.closeLoading(), 
                                () => rulesModal.closeLoading()
                            );
                        }
                    });
                },
                submit(url, data, modal, success, error) {
                    post({
                        url: url,
                        data: data,
                        success: data => {
                            if (data.success) {
                                if (modal) {
                                    modal.close();
                                }
                                this.getRules();
                            }
                            execute(success, data);
                        },
                        error: error,
                    });
                },
            },
            mounted() {
                this.getRules();
            },
        });

    </script>
<%- include('custom_route_modal') -%>